<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="utf-8" />
  <title>PM - PAM2060</title>
  <base href="/" />
  <meta
    name="viewport"
    content="width=1920, initial-scale=1"
  />
  <link
    rel='shortcut icon'
    type='image/x-icon'
    href='/static2/favicon.ico'
  />
  <link
    href="/static2/dependencies/bootstrap.min.css"
    rel="stylesheet"
  >
  <link
    rel="stylesheet"
    href="/static2/dependencies/fontawesome-free-6.0.0-web/css/all.min.css"
  >
  <link
    rel="stylesheet"
    href="/static2/css/index.css"
  >
  <link
    rel="stylesheet"
    href="/static2/css/home.css"
  >

  <script src="/static2/dependencies/angular.min.js"></script>
  <script src="/static2/dependencies/jquery.min.js"></script>
  <script src="/static2/dependencies/angular-websocket.min.js"></script>
  <script src="/static2/dependencies/moment.js"></script>

  <script src="/static2/js/app.js"></script>
</head>

<body
  ng-app="app"
  ng-controller="app_controller"
>
  <!-- No Connection -->
  <div
    ng-show="local_data.no_connection"
    id="no-connection-overlay"
  >
    <h1>Connection to the Server is Lost!</h1>
  </div>

  <!-- container -->
  <div id="container">
    <div id="left-bar">
      <div id="left-bar-logo-wrapper">

        <img
          id="logo"
          src="/static2/PM_VERTICAL_LOGO_BoW.svg"
        />
        <h1 id="logo-text"> PAM2060 </h1>
      </div>

      <div id="left-bar-buttons-wrapper">
        <!-- Left buttons wrapper -->
        <button
          type="button"
          class="btn btn-lg left-bar-button"
          ng-class="{true:'btn-success', false:'btn-secondary'}[local_data.page_selected[0] == 'home']"
          ng-click="fn_change_page(['home'])"
          id="left-bar-button-home"
        >
          <i class="fa-solid fa-house"></i>
        </button>
        <button
          type="button"
          class="btn btn-lg left-bar-button"
          ng-class="{true:'btn-success', false:'btn-secondary'}[local_data.page_selected[0] == 'stats']"
          ng-click="fn_change_page(['stats'])"
          id="left-bar-button-stats"
        >
          <i class="fa-solid fa-chart-line"></i>
        </button>
        <button
          type="button"
          class="btn btn-lg left-bar-button"
          ng-class="{true:'btn-success', false:'btn-secondary'}[local_data.page_selected[0] == 'recipe']"
          ng-click="fn_change_page(['recipe'])"
          id="left-bar-button-recipe"
        >
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button
          type="button"
          class="btn btn-lg left-bar-button"
          ng-class="{true:'btn-success', false:'btn-secondary'}[local_data.page_selected[0] == 'advanced']"
          ng-click="fn_change_page(['advanced'])"
          id="left-bar-button-advanced"
        >
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </button>
        <button
          type="button"
          class="btn btn-lg left-bar-button"
          ng-class="{true:'btn-success', false:'btn-secondary'}[local_data.page_selected[0] == 'settings']"
          ng-click="fn_change_page(['settings'])"
          id="left-bar-button-settings"
        >
          <i class="fa-solid fa-gears"></i>
        </button>
      </div>

    </div>

    <div id="right-side">
      <div id="top-bar">
        <div> </div>
        <div id="top-center">
          <span> {{remote_data.recipe.name}} - {{remote_data.stats.active_batch_no}} </span>
        </div>
        <div id="top-left-corner">
          <span> {{remote_data.time_stamp.format('LTS')}} </span>
          <span> {{remote_data.time_stamp.format('D MMM YYYY')}} </span>
        </div>
      </div>

      <div
        id="main-frame"
        ng-include="local_data.main_frame_url"
      >
      </div>

    </div>
  </div>
  </div>


</body>

</html>