<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="utf-8" />
  <title>PM - PAM2060</title>
  <base href="/" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />

  <link rel="stylesheet" href="/static/dependencies/bootstrap-rtl/css/bootstrap.css">
  <link rel="stylesheet" href="/static/dependencies/bootstrap-rtl/css/bootstrap-reboot.css">
  <link rel="stylesheet" href="/static/dependencies/bootstrap-rtl/css/bootstrap-grid.css">


  <script src="/static/dependencies/angular.min.js"></script>
  <script src="/static/dependencies/jquery.min.js"></script>
  <script src="/static/dependencies/bootstrap-ltr/js/bootstrap.js"></script>
  <script src="/static/dependencies/bootstrap-ltr/js/bootstrap.bundle.js"></script>
  <script src="/static/dependencies/angular-websocket.min.js"></script>
  <script src="/static/dependencies/d3.min.js"></script>
  <script src="/static/dependencies/moment.js"></script>



  <script src="/static/js/app.js"></script>

</head>

<body ng-app="app" ng-controller="app_controller">

  <!-- <body> -->
  <div class="container">
    <h1>PAM2060</h1>
    <button class="btn btn-success" ng-click="send_command('start')">Start</button>
    <button class="btn btn-danger" ng-click="send_command('stop')">Stop</button>
    <h1>M: {{m}}</h1>
  </div>



</body>

</html>