<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="utf-8" />
  <title>PM - PAM2060</title>
  <base href="/" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />
  <link href="/static/dependencies/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/index.css">

  <script src="/static/dependencies/angular.min.js"></script>
  <script src="/static/dependencies/jquery.min.js"></script>
  <script src="/static/dependencies/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/dependencies/angular-websocket.min.js"></script>
  <script src="/static/dependencies/d3.min.js"></script>
  <script src="/static/dependencies/moment.js"></script>

  <script src="/static/js/app.js"></script>
</head>

<body ng-app="app" ng-controller="app_controller">

  <!-- <body> -->
  <div class="container">
    <h1>PAM2060</h1>
    <hr />

    <table>
      <tr ng-repeat="node in nodes track by $index" style="margin:20px">

        <td style="padding:10px">
          <button class="btn node-button" ng-class="{'btn-success': node.type == 'robot', 'btn-warning': node.type == 'station'}" ng-click="select_node(node)">
            <input type="checkbox" class="node-button-check" ng-checked="node.selected">{{node.name}}
          </button>
        </td>
        <td>
          <span ng-show="nodes_status[$index].connected" style="color:green;" class="glyphicon glyphicon-signal"></span>
          <span ng-show="!nodes_status[$index].connected" style="color:red;" class="glyphicon glyphicon-remove-circle"></span>
          {{nodes_status[$index].data}}

        </td>

      </tr>
    </table>
    <hr />
    <p ng-show="selected_nodes_string()"> Actions for: <b>{{selected_nodes_string()}}</b></p>
    <!-- <p ng-show="selected_nodes_string()">{{selected_nodes_actions()}}</p> -->
    <form ng-submit="submit_form()">
      <fieldset>
        <div class="btn-group">
          <a class="btn btn-primary" href="#">Templates</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="(name, template) in COMMAND_TEMPLATES" ng-click="select_template(name)"><a href="#">{{name}}</a></li>
          </ul>
        </div>
        <br />
        <textarea style="margin:15px;width:500px;" rows="8" ng-model="command_text_area"></textarea>
        <div class="form-actions">
          <button ng-show="selected_nodes_string()" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </fieldset>
    </form>
  </div>

</body>

</html>